<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
description="Basic Inventory System" 
name="Basic Inventory System" 
version="2.0.5" 
xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
<publisher name="John Scatena">
<contact email="pssupport@tbaisd.org"/>
</publisher>
</plugin>